<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>
  <body>
    <div class="background">
      <div class="headerText">
        <h1 class="title">Contact Us</h1>
        <h2>
          Comment what's on your mind, and a team member will reply to you
        </h2>
        <div class="inputdiv">
          <input
            id="input"
            type="text"
            placeholder="Comment..."
            class="inputComment"
          />
          <button class="Submit" (click)="onClick()">Submit</button>
        </div>
        <div id="comments" class="comments"></div>
      </div>
    </div>
  </body>
</html>
