.book {
  width: 451px;
  height: 720px;
  overflow: hidden;
  border: solid 2px white;
}

.book img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

.Book1-style {
  color: white;
  margin-top: 20px;
  margin-left: 2vw;
  font-family: sans-serif;
}

.Book2-style {
  color: white;
  margin-top: 20px;
  margin-left: 3vw;
  font-family: sans-serif;
}

.Book3-style {
  color: white;
  margin-top: 20px;
  margin-left: 4vw;
  font-family: sans-serif;
}

.Crown-style {
  color: white;
  margin-top: 20px;
  margin-left: 10vw;
  font-family: sans-serif;
}

.Ring-style {
  color: white;
  margin-top: 20px;
  margin-left: 10vw;
  font-family: sans-serif;
}

.Pendant-style {
  color: white;
  margin-top: 20px;
  margin-left: 9vw;
  font-family: sans-serif;
}

.Archangel-style {
  color: white;
  margin-top: 20px;
  margin-left: 7vw;
  font-family: sans-serif;
}

.Philosophy-style {
  color: white;
  margin-top: 20px;
  margin-left: 1vw;
  font-family: sans-serif;
}

.Imposter-style {
  color: white;
  margin-top: 20px;
  margin-left: 8vw;
  font-family: sans-serif;
}

.cartbtn {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-left: 10vw;
  margin-top: 1vh;
}
