<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <div class="header">
      <div class="left-section" (click)="onRefreshPage()">
        <img class="logo-label" src="../../assets/label.png" />
      </div>
      <div class="middle-section">
        <div class="search-icon">
          <input type="text" placeholder="Search..." class="search-bar" />
          <div class="search-box">
            <img src="../../assets/search.png" class="maginifying-glass" />
          </div>
        </div>
      </div>
      <div class="right-section">
        <a routerLink="/home" class="header-links">Home</a>
        <a routerLink="/about" class="header-links">About</a>
        <a routerLink="/products" class="header-links">Products</a>
        <a routerLink="/shop" class="header-links">Check Out</a>
        <a routerLink="/contactUs" class="header-links">Contact Us</a>
      </div>
    </div>
  </body>
</html>
