.header {
  height: 13vh;
  width: 100vw;
  background: transparent;
  backdrop-filter: blur(64px);
  display: flex;
  border: solid 1px;
  padding: 0;
}

.logo {
  margin-top: 15px;
  height: 60px;
  width: 60px;
}

.logo-label {
  height: 95px;
  width: 200px;
  margin-top: 0;
}

.left-section {
  margin-top: 1vh;
  margin-left: 1vw;
  display: flex;
  padding: 0;
}

.left-section:hover {
  cursor: pointer;
}

.middle-section {
  margin-top: 3vh;
  margin-left: 16vw;
  display: flex;
}

.search-bar {
  height: 4vh;
  width: 25vw;
  border: none;
  background-color: transparent;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 2px;
}

.search-bar::placeholder {
  font-size: x-large;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
}

.search-bar:focus::placeholder {
  color: transparent;
  margin-bottom: 5px;
}

.search-bar:focus {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
}

.maginifying-glass {
  margin-left: 1vh;
  margin-top: 0.5vh;
  height: 3vh;
  width: 3vh;
  cursor: pointer;
}

.search-icon {
  height: 5vh;
  width: 28vw;
  border-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb) 1;
  border: 3px solid;
  overflow: hidden;
  padding-top: 0;
  align-items: center;
  display: flex;
  border-radius: 30px;
}

.search-box {
  border: solid black;
  border-right: 2px;
  border-top: 1px;
  border-bottom: 1px;
  cursor: pointer;
}

.right-section {
  margin-left: 14vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: inline-block;
  margin-right: 2vw;
  font-family: sans-serif;
  text-decoration: none;
  color: #7c859f;
  font-weight: 700;
}

.header-links:hover {
  color: white;
}
