<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>
  <body>
    <div class="background">
      <h1 class="title1 hidden">The Trinket Trilogy</h1>
      <div class="Trinkets">
        <app-book
          *ngFor="let book of books1"
          [imageSrc]="book.imageSrc"
          [title]="book.title"
          [price]="book.price"
          [cssClass]="book.cssClass"
          class="hidden"
          (imageClick)="navigateToPreview(book)"
          (addToCart)="handleAddToCart(book)"
        ></app-book>
      </div>
      <h1 class="title2 hidden">The Chpaters Of Wind</h1>
      <div class="books">
        <app-book
          *ngFor="let book of books2"
          [imageSrc]="book.imageSrc"
          [title]="book.title"
          [cssClass]="book.cssClass"
          [price]="book.price"
          class="hidden"
          (imageClick)="navigateToPreview(book)"
          (addToCart)="handleAddToCart(book)"
        >
        </app-book>
      </div>
      <h1 class="title3 hidden">Philosophy</h1>
      <div class="books">
        <app-book
          *ngFor="let book of books3"
          [imageSrc]="book.imageSrc"
          [title]="book.title"
          [price]="book.price"
          [cssClass]="book.cssClass"
          class="hidden"
          (imageClick)="navigateToPreview(book)"
          (addToCart)="handleAddToCart(book)"
        ></app-book>
      </div>
    </div>
  </body>
</html>
