.background {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpapercave.com/wp/wp11786676.png");
}

.Preview {
  margin-top: 16vh;
  margin-left: 3vw;
  display: flex;
}

.box1,
.box2 {
  border: solid white 3px;
  margin-left: 30px;
  width: 30vw;
  padding: 8px;
}

.textPrev1 {
  color: white;
}

.textPrev2 {
  color: white;
  font-size: 2em;
}

.Preview .book img {
  cursor: default;
}
