<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>About</title>
  </head>
  <body>
    <div class="background">
      <div class="hidden">
        <div class="headerText">
          <h1 class="title">Who is Raneem Ibraheem?</h1>
          <br />
          <h2>Raneem is a software developer to be,</h2>
          <br />
          <h2>an ambitous, hard working computer science student,</h2>
          <br />
          <h2>he also writes books and small texts in his free time,</h2>
          <br />
          <h2>
            and in that free time he managed to write a few books to entertain
            the fantasy fans.
          </h2>
          <br />
          <h3>For business inquires:</h3>
          <a>Risboss820@gmail.com</a>
          <div class="icons">
            <a
              href="https://www.instagram.com/rneemebraheem/"
              class="icon"
              target="_blank"
            >
              <i class="fa-brands fa-instagram icon"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/raneem-ibraheem-b82b24297/"
              class="icon"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a
              href="https://github.com/RaneemIbra"
              class="icon"
              target="_blank"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <img class="divider hidden" src="../../assets/aboutbook.png" />
        </div>
      </div>
    </div>
  </body>
</html>
