<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="background">
      <div class="headerText hidden">
        <h1 class="bigtext">Dive into the world of fiction</h1>
        <br />
        <br />
        <h2>In a world full of nightmares, we forget to dream.</h2>
        <br />
        <h2>Hold the light between your hands and illuminate the mind.</h2>
        <br />
        <h2>Wander our land of fiction and entertainment with NGBooks.</h2>
        <br />
        <h2>Satisfaction like it was never felt before, explore it with us</h2>
      </div>
      <img class="divider hidden" src="../../assets/divider1.png" />
      <div class="Preview hidden" id="About">
        <h1 class="bigtext">Ride the wind with us, and visit our world</h1>
        <h2>
          Seek some of the most interesting stories out there with our books
        </h2>
        <br />
        <h2>The trilogy of the century, the chapters of wind</h2>
      </div>
      <div class="books">
        <div class="book hidden">
          <img src="../../assets/The broken chapter in wind.jpg" />
          <h2 class="book1">The broken chapter in wind</h2>
        </div>
        <div class="book hidden">
          <img src="../../assets/Back To A Broken Chapter.jpg" />
          <h2 class="book2">Back to a broken chapter</h2>
        </div>
        <div class="book hidden">
          <img src="../../assets/The Last of All chapters.png" />
          <h2 class="book3">The last of all chapters</h2>
        </div>
      </div>
    </div>
  </body>
</html>
